            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
            	<div class="container">
            		<div class="row">
            			<div class="span9">
			                <h1>{{ page.title }}</h1>
			                {% if page.tagline %}
			                <h2 class="muted">{{ page.tagline }}</h2>
			                {% endif %}
			                {{ content }}           			
            			</div>
            			<div class="span3">
            				<h1>
								<span class="icon-stack">
									<i class="icon-check-empty icon-stack-base icon-large"></i>
									<i class="icon-coffee icon-large"></i>
								</span>
            				</h1>
            			</div>
            		</div>
                </div>
            </div>

